<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OA</display-name>
  <filter>
    <filter-name>cef</filter-name>
    <filter-class>com.zw.oa.web.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>cef</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>clf</filter-name>
    <filter-class>com.zw.oa.web.filter.CheckLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>clf</filter-name>
    <url-pattern>/pages/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>clf</filter-name>
    <url-pattern>/servlet/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeServlet</display-name>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/servlet/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/servlet/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>DeleteEmployeeServlet</display-name>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/servlet/DeleteEmployeeServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>PasswordUpdateServlet</display-name>
    <servlet-name>PasswordUpdateServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.PasswordUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordUpdateServlet</servlet-name>
    <url-pattern>/servlet/PasswordUpdateServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>AddWorkServlet</display-name>
    <servlet-name>AddWorkServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.work.AddWorkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWorkServlet</servlet-name>
    <url-pattern>/servlet/AddWorkServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ListWorkServlet</display-name>
    <servlet-name>ListWorkServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.work.ListWorkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListWorkServlet</servlet-name>
    <url-pattern>/servlet/ListWorkServlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>DeleteWorkServlet</display-name>
    <servlet-name>DeleteWorkServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.work.DeleteWorkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWorkServlet</servlet-name>
    <url-pattern>/servlet/DeleteWorkServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ToWorkUpdateServlet</display-name>
    <servlet-name>ToWorkUpdateServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.work.ToWorkUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToWorkUpdateServlet</servlet-name>
    <url-pattern>/servlet/ToWorkUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateWorkServlet</display-name>
    <servlet-name>UpdateWorkServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.work.UpdateWorkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateWorkServlet</servlet-name>
    <url-pattern>/servlet/UpdateWorkServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>AddEmailServlet</display-name>
    <servlet-name>AddEmailServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.email.AddEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmailServlet</servlet-name>
    <url-pattern>/servlet/AddEmailServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>DeleteGomibakoServlet</display-name>
    <servlet-name>DeleteGomibakoServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.email.DeleteGomibakoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGomibakoServlet</servlet-name>
    <url-pattern>/servlet/DeleteGomibakoServlet</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <description></description>
    <display-name>DeleteOutEmailServlet</display-name>
    <servlet-name>DeleteOutEmailServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.email.DeleteOutEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOutEmailServlet</servlet-name>
    <url-pattern>/servlet/DeleteOutEmailServlet</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>GomibakoServlet</display-name>
    <servlet-name>GomibakoServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.email.GomibakoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GomibakoServlet</servlet-name>
    <url-pattern>/servlet/GomibakoServlet</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>ToGomibakoServlet</display-name>
    <servlet-name>ToGomibakoServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.email.ToGomibakoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToGomibakoServlet</servlet-name>
    <url-pattern>/servlet/ToGomibakoServlet</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>QueryWorkServlet</display-name>
    <servlet-name>QueryWorkServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.work.QueryWorkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryWorkServlet</servlet-name>
    <url-pattern>/servlet/QueryWorkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InBoxServlet</display-name>
    <servlet-name>InBoxServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.email.InBoxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InBoxServlet</servlet-name>
    <url-pattern>/servlet/InBoxServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>OutBoxServlet</display-name>
    <servlet-name>OutBoxServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.email.OutBoxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutBoxServlet</servlet-name>
    <url-pattern>/servlet/OutBoxServlet</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>ReadServlet</display-name>
    <servlet-name>ReadServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.work.ReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadServlet</servlet-name>
    <url-pattern>/servlet/ReadServlet</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>AgencyServlet</display-name>
    <servlet-name>AgencyServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.work.AgencyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgencyServlet</servlet-name>
    <url-pattern>/servlet/AgencyServlet</url-pattern>
  </servlet-mapping>
       <servlet>
    <description></description>
    <display-name>ListFilesServlet</display-name>
    <servlet-name>ListFilesServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.files.ListFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFilesServlet</servlet-name>
    <url-pattern>/files/ListFilesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFolderServlet</display-name>
    <servlet-name>AddFolderServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.files.AddFolderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFolderServlet</servlet-name>
    <url-pattern>/servlet/AddFolderServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>AddMeetingServlet</display-name>
    <servlet-name>AddMeetingServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.meeting.AddMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMeetingServlet</servlet-name>
    <url-pattern>/servlet/AddMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMeetingServlet</display-name>
    <servlet-name>DeleteMeetingServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.meeting.DeleteMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMeetingServlet</servlet-name>
    <url-pattern>/servlet/DeleteMeetingServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>MeetingServlet</display-name>
    <servlet-name>MeetingServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.meeting.MeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingServlet</servlet-name>
    <url-pattern>/servlet/MeetingServlet</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>AddMeetingRoomServlet</display-name>
    <servlet-name>AddMeetingRoomServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.meeting.AddMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMeetingRoomServlet</servlet-name>
    <url-pattern>/servlet/AddMeetingRoomServlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>MeetingRoomServlet</display-name>
    <servlet-name>MeetingRoomServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.meeting.MeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingRoomServlet</servlet-name>
    <url-pattern>/servlet/MeetingRoomServlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>DeleteMeetingRoomServlet</display-name>
    <servlet-name>DeleteMeetingRoomServlet</servlet-name>
    <servlet-class>com.zw.oa.web.servlet.meeting.DeleteMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMeetingRoomServlet</servlet-name>
    <url-pattern>/servlet/DeleteMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  
</web-app>